<div class="project-editor">
  <div class="container" *ngIf="isReady">
    <header>
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <h2 class="title">
              {{
                isEditing ? 'Editing Project ' + project.name : 'Create Project'
              }}
            </h2>
          </div>
          <div class="is-text-7 level-item" *ngIf="isEditing">
            <span class="is-text-7">id: {{ project._id }} </span>
          </div>
        </div>
      </div>
    </header>
    <hr />
    <div class="content">
      <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <div class="field">
          <label class="label">Name</label>
          <div class="control has-icons-left has-icons-right">
            <input
              class="input"
              [ngClass]="{
                'is-success': !isNotValid(name),
                'is-danger': isNotValid(name)
              }"
              type="text"
              placeholder="Project name"
              name="name"
              formControlName="name"
              value="name"
              required
            />
            <span class="icon is-small is-left">
              <fa-icon [icon]="faSignature"></fa-icon>
            </span>
            <span
              class="icon is-small is-right"
              *ngIf="name.invalid && (name.dirty || name.touched)"
            >
              <fa-icon [icon]="getControlIcon(name)"></fa-icon>
            </span>
          </div>
          <div
            *ngIf="name.invalid && (name.dirty || name.touched)"
            class="tags are-medium"
          >
            <div *ngIf="name.errors.required" class="tag is-danger">
              Name is required.
            </div>
            <div *ngIf="name.errors.minlength" class="tag is-danger">
              Name must be at least 3 characters long.
            </div>
          </div>
          <!-- .tags -->
        </div>
        <!-- .field -->

        <div class="field">
          <label class="label">Owner</label>
          <div class="control has-icons-left has-icons-right">
            <input
              class="input"
              [ngClass]="{
                'is-success': !isNotValid(owner),
                'is-danger': isNotValid(owner)
              }"
              type="text"
              placeholder="Owner"
              name="owner"
              formControlName="owner"
              required
              minlength="3"
            />
            <span class="icon is-small is-left">
              <fa-icon [icon]="faUser"></fa-icon>
            </span>
            <span
              class="icon is-small is-right"
              *ngIf="owner.invalid && (owner.dirty || owner.touched)"
            >
              <fa-icon [icon]="getControlIcon(owner)"></fa-icon>
            </span>
          </div>
          <div
            *ngIf="owner.invalid && (owner.dirty || owner.touched)"
            class="tags are-medium"
          >
            <div *ngIf="owner.errors.required" class="tag is-danger">
              Owner is required.
            </div>
            <div *ngIf="owner.errors.minlength" class="tag is-danger">
              Owner must be at least 3 characters long.
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">URL</label>
          <div class="control has-icons-left has-icons-right">
            <input
              class="input"
              type="text"
              placeholder="Project url"
              name="url"
              formControlName="url"
            />
            <span class="icon is-small is-left">
              <fa-icon [icon]="faAnchor"></fa-icon>
            </span>
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button
              class="button is-link"
              type="submit"
              [class.is-disabled]="!projectForm.valid"
              [disabled]="!projectForm.valid || !isReady"
            >
              Submit
            </button>
          </div>

          <div class="control">
            <button
              class="button is-link"
              (click)="randomData()"
              type="button"
              title="Fill the fields with random data"
            >
              Random
            </button>
          </div>

          <div class="control">
            <back-button label="Cancel" classes="button is-danger"></back-button>
          </div>
        </div>

        <div class="message {{ responseClasses }}" *ngIf="response.title">
          <div class="message-header">
            <p>{{ response.title }}</p>
            <button class="delete" aria-label="delete"></button>
          </div>
          <div class="message-body">
            {{ response.message }}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
