<div *ngIf="issue" class="issue-list-item issue-{{ issue._id }}">
  <div class="card">
    <div class="card-content">
      <div class="columns">
        <div class="column">
          <h3>
            <a title="View issue details" [routerLink]="url">
              <fa-icon [icon]="faEye"></fa-icon> {{ issue.issue_title }}
            </a>
          </h3>
        </div>
        <div class="column">
          <div class="tags has-addons">
            <span class="tag">Status</span>
            <span
              class="tag"
              [class.is-danger]="issue.open"
              [class.is-success]="!issue.open"
              >{{ status }}</span
            >
          </div>
        </div>
      </div>
      <p>{{ excerpt }}</p>
    </div>
    <footer class="card-footer">
      <a
        class="card-footer-item"
        [routerLink]="editUrl"
        routerLinkActive="router-link-active"
      >
        <fa-icon [icon]="faEdit"></fa-icon>{{ ' ' }}Edit
      </a>
      <a
        class="card-footer-item"
        title="Remove issue '{{ issue.issue_title }}'"
        (click)="handleIssueRemoval(issue._id)"
      >
        <fa-icon [icon]="faTrash"></fa-icon> Remove
      </a>
      <a
        class="card-footer-item"
        (click)="changeIssueState($event)"
        title="Toggle the issue '{{ issue.issue_title }}'  status"
      >
        <fa-icon [icon]="statusIcon"></fa-icon>{{ statusText }}
      </a>
    </footer>
    <div class="message {{ messageClass }}" *ngIf="showMessage">
      <div class="message-header">
        <p>Operation</p>
        <button
          class="delete"
          aria-label="delete"
          (click)="dismissMessage()"
        ></button>
      </div>
      <div class="message-body">{{ message }}</div>
    </div>
  </div>
</div>
