<div class="issue-editor">
  <div class="container" *ngIf="isReady">
    <header>
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <h2 class="title">
              {{
                isEditing
                  ? 'Editing Issue ' + issue.issue_title
                  : 'Create Issue'
              }}
            </h2>
          </div>
          <div class="is-text-7 level-item" *ngIf="isEditing">
            <span class="is-text-7">id: {{ issue._id }} </span>
          </div>
        </div>
      </div>
    </header>
    <hr />
    <div class="content">
      <form [formGroup]="issueForm" (ngSubmit)="onSubmit()">
        <div class="field">
          <label class="label">Title <em>*</em></label>
          <div class="control has-icons-left has-icons-right">
            <input
              class="input"
              type="text"
              placeholder="Issue title"
              name="issue_title"
              formControlName="issue_title"
              required
            />
            <span class="icon is-small is-left">
              <fa-icon [icon]="faSignature"></fa-icon>
            </span>

            <span
              class="icon is-small is-right"
              *ngIf="
                issue_title.invalid &&
                (issue_title.dirty || issue_title.touched)
              "
            >
              <fa-icon [icon]="getControlIcon(issue_title)"></fa-icon>
            </span>
          </div>

          <div
            *ngIf="
              issue_title.invalid && (issue_title.dirty || issue_title.touched)
            "
            class="tags are-medium"
          >
            <div *ngIf="issue_title.errors.required" class="tag is-danger">
              The title is required.
            </div>
            <div *ngIf="issue_title.errors.minlength" class="tag is-danger">
              The title must be at least 3 characters long.
            </div>
          </div>
        </div>
        <!-- .field -->

        <div class="field">
          <label class="label">Description <em>*</em></label>
          <div class="control">
            <textarea
              class="textarea"
              type="text"
              placeholder="Description"
              name="issue_text"
              formControlName="issue_text"
              required
            ></textarea>
            <span
              class="icon is-small is-right"
              *ngIf="
                issue_text.invalid && (issue_text.dirty || issue_text.touched)
              "
            >
              <fa-icon [icon]="getControlIcon(issue_title)"></fa-icon>
            </span>
          </div>
          <div
            *ngIf="
              issue_text.invalid && (issue_text.dirty || issue_text.touched)
            "
            class="tags are-medium"
          >
            <div *ngIf="issue_text.errors.required" class="tag is-danger">
              The description is required.
            </div>
            <div *ngIf="issue_text.errors.minlength" class="tag is-danger">
              The description must be at least 10 characters long.
            </div>
          </div>
        </div>
        <!-- .field -->

        <div class="field">
          <label class="label">Author <em>*</em></label>
          <div class="control has-icons-left has-icons-right">
            <input
              class="input"
              type="text"
              placeholder="skaparate"
              formControlName="created_by"
              name="created_by"
              required
            />
            <span class="icon is-small is-left">
              <fa-icon [icon]="faUser"></fa-icon>
            </span>

            <span
              class="icon is-small is-right"
              *ngIf="
                created_by.invalid && (created_by.dirty || created_by.touched)
              "
            >
              <fa-icon [icon]="getControlIcon(created_by)"></fa-icon>
            </span>
          </div>

          <div
            *ngIf="
              created_by.invalid && (created_by.dirty || created_by.touched)
            "
            class="tags are-medium"
          >
            <div *ngIf="created_by.errors.required" class="tag is-danger">
              The creator is required
            </div>
            <div *ngIf="created_by.errors.minlength" class="tag is-danger">
              The name must be at least 3 characters
            </div>
          </div>
        </div>
        <!-- .field -->

        <div class="field">
          <label class="label">Assigned To</label>
          <div class="control has-icons-left has-icons-right">
            <input
              class="input"
              type="text"
              placeholder="skaparate"
              formControlName="assigned_to"
              name="assigned_to"
            />
            <span class="icon is-small is-left">
              <fa-icon [icon]="faUser"></fa-icon>
            </span>
          </div>

          <div
            *ngIf="
              assigned_to.invalid && (assigned_to.dirty || assigned_to.touched)
            "
            class="tags are-medium"
          >
            <div *ngIf="assigned_to.errors.minlength" class="tag is-danger">
              The name must be at least 3 characters
            </div>
          </div>
        </div>
        <!-- .field -->

        <div class="field">
          <label class="label">Status</label>
          <div class="control has-icons-left has-icons-right">
            <input
              class="input"
              type="text"
              placeholder="Status"
              formControlName="status_text"
              name="status_text"
            />
            <span class="icon is-small is-left">
              <fa-icon [icon]="faUser"></fa-icon>
            </span>
          </div>

          <div
            *ngIf="
            status_text.invalid && (status_text.dirty || status_text.touched)
            "
            class="tags are-medium"
          >
            <div *ngIf="status_text.errors.minlength" class="tag is-danger">
              The status must be at least 3 characters
            </div>
          </div>
        </div>
        <!-- .field -->

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" type="submit">Submit</button>
          </div>
          <div class="control">
            <button
              class="button is-light"
              (click)="randomData()"
              title="Fills the fields with random data"
              type="button"
            >
              Random
            </button>
          </div>
          <div class="control">
            <back-button label="Cancel" classes="button is-danger"></back-button>
          </div>
        </div>
        <!-- .field -->

        <div class="message {{ responseClasses }}" *ngIf="response.title">
          <div class="message-header">
            <p>{{ response.title }}</p>
            <button class="delete" aria-label="delete"></button>
          </div>
          <div class="message-body">
            {{ response.message }}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
