<nav
  class="pagination is-centered"
  role="navigation"
  aria-label="pagination"
  *ngIf="pagination?.shouldDisplay"
>
  <a
    class="pagination-previous"
    *ngIf="!pagination.isFirst"
    attr.aria-label="Go to page {{ pagination.previous }}"
    [routerLink]="[pagination.state]"
    [queryParams]="{
      page: pagination.previous,
      pageSize: pagination.pageSize,
      pageRange: pagination.range
    }"
  >
    Previous
  </a>
  <span class="pagination-previous" *ngIf="pagination.isFirst">Previous</span>

  <ul class="pagination-list">
    <li *ngFor="let page of pagination.pageList">
      <span class="pagination-ellipsis" *ngIf="page === 'hellip'">
        &hellip;
      </span>
      <a
        *ngIf="page !== 'hellip'"
        class="pagination-link"
        attr.aria-label="Go to page {{ page }}"
        [class.is-current]="page == pagination.currentPage"
        [routerLink]="[pagination.state]"
        [queryParams]="{
          page: page,
          pageSize: pagination.pageSize,
          pageRange: pagination.range
        }"
      >
        {{ page }}
      </a>
    </li>
  </ul>

  <a
    class="pagination-next"
    *ngIf="!pagination.isLast"
    attr.aria-label="Go to page {{ pagination.next }}"
    [routerLink]="[pagination.state]"
    [queryParams]="{
      page: pagination.next,
      pageSize: pagination.pageSize,
      pageRange: pagination.range
    }"
  >
    Next page
  </a>
  <span class="pagination-next" *ngIf="pagination.isLast">Next Page</span>
</nav>
