<div class="card project-list-item" *ngIf="project">
  <div class="card-header"></div>
  <div class="card-content">
    <h2 class="title is-size-4">
      <a
        title="View project {{ project.name }}"
        [routerLink]="['/projects', project.slug]"
        >{{ project.name }}</a
      >
    </h2>
    <h3 class="subtitle is-size-6">@{{ project.owner }}</h3>
  </div>
  <!-- .card-content -->
  <footer class="card-footer">
    <a
      title="Edit project {{ project.name }}"
      class="card-footer-item"
      [routerLink]="['/projects/edit', project._id]"
    >
      <fa-icon [icon]="faEdit"></fa-icon> Modify
    </a>
    <a
      href="#"
      class="card-footer-item"
      title="Remove project '{{ project.name }}''"
      (click)="removeProject($event, project._id)"
    >
      <fa-icon [icon]="faTrash"></fa-icon> Delete
    </a>
    <div class="card-footer-item">
      <div class="tags has-addons">
        <span class="tag">Issues</span>
        <span
          class="tag"
          [class.is-danger]="project.issueCount > 0"
          [class.is-info]="project.issueCount <= 0"
          >{{ project.issueCount }}</span
        >
      </div>
    </div>
  </footer>
  <!-- .card-footer -->
</div>
<!-- .card -->
